<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
<link href="/style.css" rel="stylesheet" />
<link href="/syntax.css" rel="stylesheet" />

<link rel="canonical" href="{{ .Permalink }}" />

<meta name="viewport" content="width=device-width, initial-scale=1" />
<script async defer data-domain="candidcode.net" src="https://plausible.io/js/plausible.js"></script>
