/* Fonts */

html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.1em;
    font-style: normal;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

blockquote {
    padding-left: 10px;
    margin-left: 0px;
}

.highlight {
    font-size: 1em;
}

.highlight > pre {
    padding: 1em;
}

.highlight code {
    font-family: 'Source Code Pro', monospace;
}

p code, ul code {
    /* border: 1px solid #5e81ac; */
    /* border-radius: 5px; */
    padding: 3px 0 1px 0;
    /* display: inline-block; */
}

a {
    color: #5e81ac;
    text-decoration:none;
}

a:visited {
    color: #81a1c1;
}

a:hover {
    color: #a3be8c;
}

a[href^="https://github.com/candid-code"] {
    font-family: 'Source Code Pro', monospace;
    border: 1px solid #5e81ac;
    border-radius: 5px;
    padding: 0 2px;
    display: inline-block;
    font-size: 70%;
    line-height: 1.5em
}

a[href^="https://github.com/candid-code"]::before {
    content: "‹"
}
a[href^="https://github.com/candid-code"]::after {
    content: "›"
}

/* Light */
@media (prefers-color-scheme: light) {
    body {
        background: #eceff4;
        color: #434c5e;
    }

    #content > header {
        border-bottom: #d8dee9 1px solid;
    }

    #content > footer {
        border-top: #d8dee9 1px solid;
    }
    blockquote {
        border-left: 10px solid #d8dee9;
    }
}

/* Dark */
@media (prefers-color-scheme: dark) {
    body {
        background: #2e3440;
        color: #eceff4;
    }

    #content > header {
        border-bottom: #4c566a 1px solid;
    }

    #content > footer {
        border-top: #4c566a 1px solid;
    }
    blockquote {
        border-left: 10px solid #5e81ac;
    }
}

#content {
    width: 95%;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}

#content > header {
    text-align: center;
    font-size: 1.5em;
}

#content > header > nav {
    display: flex;
    justify-content: space-evenly;
    /* font-family: 'Roboto Slab', serif; */
}

#content > footer {
    padding: 5em 0 10em 0;
    text-align: center;
    font-size: 75%;
}

.post > header> h1 {
    margin-top: 0;
}

.post-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.post-list li {
    margin: 0;
    padding: .5em 0;
}

.date {
    font-size: 75%;
}

.post section {
    line-height: 1.5em;
    margin: 2em 0 5em 0;
}
